{{#if success_msg}}  <!-- Recorre el arrglo y manda las alertas por medio del script de abajo -->
<div class="alert alert-success alert-dismissible fade show" role="alert">
 {{success_msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times</button>
</div>
{{/if}}