<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registro de usuario
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{nombre}}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Correo" value="{{email}}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Contraseña" value="{{password}}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="c_password" placeholder="Contraseña" value="{{c_password}}">
                </div>
                <input type="radio" value="admin">
                <div class="form-group">
                    <button class="btn btn-success btn-block btn-sm" type="submit">
                        Registrarse
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>