<div class="card">
    <div class="card-body">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero nulla, ducimus provident doloremque accusamus odit voluptatibus voluptas velit enim! Doloribus iste animi, quibusdam dolores ducimus impedit vel excepturi accusamus amet deserunt soluta eaque quidem eveniet doloremque fuga voluptates voluptas tempore!</p>
        
    </div>
</div>