<div class="jumbotron m-4">
    <h1 class="display-4">Aplicacion de notas con mongodb</h1>
    <p class="Lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, iusto?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At qui non sequi tempore, nam voluptates. Hic eius perspiciatis, minima, officia laborum beatae consectetur iure, laboriosam quisquam molestiae accusantium quasi ullam temporibus debitis? Eius natus magni, nam est corrupti labore dignissimos?
    </p>
    <a href="http://gootle.com" class="btn btn-primary btn-lg">google</a>
</div>